<div class="d-flex align-items-center justify-content-center" style="height: 100%;">

    <h1>
        WOOPS
    </h1>
    <p>
        Seems like what you are looking for isn't here, or there, or anywhere. Want
        to try again?
    </p>
    <div style="background-color: aliceblue;">
        <img class="error" src="images/question.png" alt="questionmark">
    </div>
</div>