<div class="maincontainer">
    <h1>Welcome to Statify</h1>
    <p>
Find stats about your Spotify music activities!<br>
Want to see your favourite genre? Check! <br>
Want to see who your favourite aritst is? Done!<br>
Want to see the danceability of your favourite song? You got it!<br>
    </p>
</div>


