<div class="maincontainer light-blue">
    <h1>Welcome to Statify</h1>
    <pre>
Find stats about your Spotify music activities! 
Want to see your favourite genre? Check! 
Want to see who your favourite aritst is? Done!
Want to see the danceability of your favourite song? You got it!
    </pre>
</div>


