<div class="maincontainer">
    <h1>Welcome to Statify</h1>
    <img class="logoimg" src="images/statify.png" alt="statify" width=200>
    <p>Find stats about your Spotify music activities!</p>
    <p>Want to see your favourite genre? Check! </p>
    <p>Want to see who your favourite aritst is? Done! </p>
    <p>Want to see the danceability of your favourite song? You got it!</p>
</div>


