<body>
  <div class="maincontainer">
    <img class="homepage-img" src="images/statify.png" alt="statify" width=200>

    <h1 class="homepage-h1">Welcome to Statify</h1>
    <pre class="homepage-pre">
      Find stats about your Spotify music activities! 
      Want to see your favourite genre? Check! 
      Want to see who your favourite aritst is? Done!
      Want to see the danceability of your favourite song? You got it!
      </pre>
  </div>
</body>