body {
    background-color: #92a8d1;
}

/* h1 {
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

.p {
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.error {
    display: block ;
    margin-right: auto;
    margin-left: auto;
}

.spotify {
    display: block ;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

.logo {
    left:0px;
}

footer {
    text-align: center;
}

.cont {
  height: 40px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

.container {
    display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: minmax(0px,auto) 1fr;
    grid-template-areas: 
    'a  b';
    width: 100vw;
    height: 100vh;
} */

.nav-font {
    list-style-type: none;
    float: right;
    padding: 10px;
    display: inline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}

nav {
    background-color: #003E6B;
    width: 100 wh;
    height: 50px;
    position: sticky;
}

.maincontainer {
    margin-top: calc(50vh - 177px);
    margin-left: calc(50vw - 358.5px);
}

.homepage-h1 {
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

.homepage-pre {
    font-size: 20px;
}

/* .maincontainer {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
} */

.profilepagebodytext {
    text-align: left;
    padding-top: 80px;
    padding-left: 320px;
    font-weight: bold;

}
.profilepagebodyimg {
    text-align: center;
    float: left;
    padding-top: 80px;
    padding-left: 0px;
}

@media only screen and (max-width: 600px) {
    img { width: 200px;
        height: 200px;
    }
    .profilepagebodytext {
        padding-left: 230px;
    }
}