body {
    background-color: #92a8d1;
}

.maincontainer {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

}
.profilepagebodytext {
    text-align: left;
    padding-top: 10px;
    padding-left: 350px;
    font-weight: bold;

}
.profilepagebodyimg {
    text-align: center;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}
p {
    color: black;
}

@media only screen and (max-width: 600px) {
    img { width: 200px;
        height: 200px;
    }
    .profilepagebodytext {
        padding-left: 230px;
    }
}
