.nav-font {
    list-style-type: none;
    float: right;
    padding: 10px;
    display: inline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}

.maincontainer {
    margin-top: calc(50vh - 250px);
    margin-left: calc(50vw - 358.5px);
}

.homepage-h1 {
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

.homepage-pre {
    font-size: 20px;
}

.profilepagebodyimg {
    text-align: center;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}

.vl {
    border-left: 6px solid;
    height: 500px;
    object-position: right;

}

@media only screen and (max-width: 600px) {
    .profilepagebodytext {
        padding-left: 230px;
    }
}

.homepage-img {
    margin-left: 260px;
}

body {
    --text-color: #222;
    --primary-color: #92a8d1;
    --secondary-color: #e9ecef;
}

body.dark-theme {
    --text-color: #eee;
    --primary-color: #121212;
    --secondary-color: #222;
}
  
/* @media (prefers-color-scheme: dark) {
    body {
        --text-color: #eee;
        --bkg-color: #121212;
    }
    body.light-theme {
        --text-color: #222;
        --bkg-color: #92a8d1;
    }
} */

/* secondary colors */
section, .list-container, .card-container, .table{
    background: var(--secondary-color);
}

/* primary colors */
body, .list-container.list-primary {
    background: var(--primary-color);
}

/* text color */
h1, p, pre, h5, th, td, li{
    color: var(--text-color);
}

/* text style */
* {
    font-family: Arial, Helvetica, sans-serif;
  }

.section-container {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
}

.list-container {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid rgba(0,0,0,.125);
}

.card-container {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}